{% extends 'livre/layout.html.twig' %}

{% block content_detail %}
    <h2>Liste complète des Livres</h2>
    <table>
        <thead>
            <tr>
                
                <th scope="col">Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for a in auteur %}
                <tr>
                    <td>
                        {{a[0].prenom}} {{a[0].nom}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
