{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
    <h1>Edit Livre</h1>

    {{ include('roman/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_roman_index') }}">back to list</a>

    {{ include('roman/_delete_form.html.twig') }}
{% endblock %}
