{% extends 'marque_page/layout.html.twig' %}

{% block content_detail %}
    <h2>Marque-page ajouter avec succès</h2>
    <a class="link" href="{{ path('marque_page_index') }}">⬅️Retour à la liste</a>
{% endblock %}
