{% extends 'employe/layout.html.twig' %}

{% block content_detail %}
    <h2>Employé ajouter avec succès</h2>
    <a class="link" href="{{ path('employe_index') }}">⬅️Retour à la liste</a>
{% endblock %}
